.trust-statement-container{
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.trust-statement-container p{
    padding: 7px 20px;
    color: rgb(83, 83, 83);
}

.trust-statement-container h2{
    color: black;
    font-size: 3vh;
}


@media only screen and (max-width: 1000px){
    .trust-statement-container{
        flex-direction: column;
    }
    .trust-statement-container p{
        font-size: 16px;
    }
    .trust-statement-container h2{
        font-size: 20px;
    }

}