.shopping-page-banner-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 6vh 15.3vw;
    margin-bottom: 10vh;
   
}

.shopping-page-banner-container img {
    height: auto;
    width: 48vw;
    border-radius: 3px;
   
}

.shopping-page-banner-container .info{
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 23.5vw;
   
    padding: 2vh;
    padding-left: 3vh;
    padding-top: 3vh;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 50%);
}
.shopping-page-banner-container .info h3{
    font-size: 3.2vh;
    color: black;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
}
.shopping-page-banner-container .info p{
    font-size: 2.22vh;

}


@media only screen and (max-width: 850px) {
    .shopping-page-banner-container .info h3{
        font-size: 13px;
       
    }
    .shopping-page-banner-container .info h6{
        font-size: 10px;
       

    }
    .shopping-page-banner-container .info p{
        font-size: 10px;
     
    }
    .shopping-page-banner-container .info{
        width: 90%;
        padding-left: 2vh;
        padding-top: 10px;
        height: auto;
        padding-bottom: 0;
        top: 90%;
        left: 4.6vw;

    }
    .shopping-page-banner-container img{
        width: 100%;
    } 
    .shopping-page-banner-container{
        margin: 30px;
        margin-bottom: 110px;
    }
}