.cart-container-head {
    background-color: #fff;
    color: black;
    padding: 1%;
    font-size: 4vh;
    text-align: center;
}

.cart-container-rest {
    display: flex;
    min-height: 58vh;
    background-color: #fff; 
    padding-bottom: 20px;
    
}

.cart-container-rest .left {
    flex: 1;
    background-color: #fff;
    align-items: normal;
    display: flex;
    flex-direction: column;

    
}

.cart-container-rest .left .product-card {
    display: flex;
    margin-top: 0;
    padding-left: 40px;
    margin-bottom: 3vh;

}

.cart-container-rest .left .product-card img {
    height: 21vh;

}


.cart-container-rest .left .product-card .info{
    margin: 10px;
    padding-left: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    margin-left: 25px;
    
}

.cart-container-rest .left .product-card .info .left{
    align-items: flex-start;
}

.cart-container-rest .left .product-card .info .left .price-view{
    display: none;
}


.cart-container-rest .left .product-card p {
    font-weight: bold;

    text-align: center;
    font-size: 2.6vh;
    color: black;
    margin-bottom: 0;
    padding: 0 5px;
    margin-left: 0;
    
}

.cart-container-rest .left .product-card h3 {
    font-weight: bold;
    margin-top: 0.2vh;
    text-align: start;
    font-size: 2.8vh;
    color: black;
    margin-bottom: 0.1vh;
    padding: 0 5px;
    margin-left: 0;
    padding-left: 3px;
}

.cart-container-rest .left .product-card #variant {
    color: rgb(59, 59, 59);
    font-weight: normal;
    margin-bottom: 1vh;
    padding-left: 0;
    text-align: start;
}


.cart-container-rest .left .product-card h5 {
    text-align: start;
    font-size: 1.9vh;
    margin-bottom: 0;
    color: rgb(105, 105, 105);
    padding-left: 4px;
}



.cart-container-rest .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    
        
}

.cart-container-rest .right h3{
    font-size: 2.7vh;
    color: black;
    background-color: #ebebeb;
    padding: 15px;
    margin-bottom: 0;
    width: 75%;

}

.cart-container-rest .right button{
    width: 75%;
    margin: 20px;
    margin-left: 0;
    border: none;
    color: white;
    background-color: #000;
    padding: 2vh;
    font-size: 2.6vh;
    font-weight: bold;

}
.cart-container-rest .right .summary {
    display: flex;
    width: 75%;
    align-items: center;
    color:rgb(83, 83, 83);
    
    
}

.cart-container-rest .right .summary b{
    color: black;
}




.cart-container-rest .right .summary .right,.cart-container-rest .right .summary .left{
    background-color: #ebebeb;
    padding: 15px;
    flex-direction: column;
    font-size: 2.5vh;
    margin-right: 0;
}



.cart-container-rest .right img{
    
    height : 12vh;
    width: 73.63vh;
   
} 

.cart-container-rest #remove-product{
    border: none;
    text-align: center;

    border-radius: 4px;
    font-size: 2.3vh;
}


@media only screen and (max-width: 549px){
    .cart-container-rest{
        flex-direction: column;
    }
    .cart-container-rest .left .product-card{
        width: 100%;
        padding-left: 0;
        display: flex;
        align-items: center;
        
    }
    .cart-container-rest .left .product-card img{
        padding-left: 0;
        height: 20vw;
       
    }
    .cart-container-rest .left .product-card .info #variant{
        text-align: left;
        font-size: 17px;
        margin-bottom: 0;
    }
    .cart-container-rest .left .product-card .info p{
        text-align: left;
        font-size: 17px;
    }
    .cart-container-rest .left .product-card .info h3{
        font-size: 19px;
    }
    .cart-container-rest .left .product-card .info{
        margin: 0;
        padding-left: 20px;
    }
    .cart-container-head{
        font-size: 22px;
        padding-bottom: 20px;
        padding-top: 10px;
    }
    .cart-container-rest .right .summary{
        background-color: #ebebeb;
    }
    .cart-container-rest .right .summary .left{
        font-size: 20px;
    }
    .cart-container-rest .right .summary .right{
        font-size: 20px;
    }
    .cart-container-rest .right{
        justify-content: center;
        align-items: center;
        padding-left: 0;
    }
    .cart-container-rest .right button{
        margin: 0;
        margin-top: 20px;
        width: 75vw;
        padding: 10px;
    }
    .cart-container-rest .right img{
        width: 75vw;
        height: auto;
        margin-top: 10px;
       
    }
    .cart-container-rest #remove-product{
        border: none;
        /* background-color: rgb(184, 184, 184); */
        border-radius: 4px;
        font-size: 13px;
    }

    .cart-container-rest .left .product-card .info .left .price-view{
        display: block;
    }

    .cart-container-rest .left .product-card .info .right{
        display: none;
    }
    .cart-container-rest .left .product-card img{
        margin-left:9vw;
    }

}
