.single-product-container{
    display: flex;
    background-color: #fff;
    color: black;
}
.single-product-container .left{
    flex: 1.7;
    width: 100%;
    margin: 20px 0px;
    
}
.single-product-container .left img{
    margin-left: 7.5045vw;
    height: 33vw;
    
}

.single-product-container .right{
    /* flex: 1; */
    padding: 1vw;
    margin: auto;
    margin-right:0;
   
}

.single-product-container .right h4{
    
    size: 2.0vw;
    text-decoration: none;
    font-weight: normal;
}
.single-product-container .right h1{ 
    color: black;
    font-size: 2.5vw;
}
.single-product-container .right h2{
    font-weight: normal;
    color: #404040;
}
.single-product-container .right #price{
    color: black;
    font-weight: bold;
    font-size: 2.2vw;
}
.single-product-container .right .size-select{
    margin: 1vw 0;
    width:28vw;
}

.single-product-container .right .size-select button{
  
    margin-top: 10px;
    margin-right: 7px;
    font-size: 2.2vh;
    width: 17%;
    min-height: 20px;
    border: none;
    border-radius: 2px;
    padding: 6px 6px 6px 6px;

}

.single-product-container .right .size-select button:focus{
    background-color: gray;
}
.single-product-container .right #add{
    background-color: black;
    color: white;
    font-size: 2.4vh;
    font-weight: bold;
    text-align: center;
    width: 50%;
    margin-top: 2vh;
}
.carousel-container{
  /* max-width:54.991vw; */
  width: 70vw;
}

.carousel-indicators{
  margin-bottom: 0;
}



@media only screen and (max-width: 1000px) {
  .single-product-container{
    display: flex;
    flex-direction: column ;
    padding-top: 2vh;
  }
  .single-product-container .left img{
    height: auto;
    width: 88vw;
    margin-left: 6vw;
    
  }
  
  .carousel-container{
    width:100vw;
    
  }
  .single-product-container .right{
    display: block;
    padding-bottom: 13px;
    margin: auto;
    margin-top: 2.3vh;
  }
  .single-product-container .right #add{
    width: 100%;
    padding: 10px;

  }
  .single-product-container .right .size-select{
    width: 100%;
  }
  .single-product-container .right .size-button-container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .single-product-container .right h1{
    font-size: 24px;
  }
  .single-product-container .right h2{
    font-size: 22px;
  }
  .single-product-container .right #price{
    font-size: 20px;
  }
  .single-product-container .right h4{
    font-size: 18px;
  }
}

