.product-each-container {
  background-color: white;
  border: none;
  border-radius: 4px;
  margin: 1vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  padding: 1vw;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  position: relative;
  transition: all 1s ease;
}

.product-each-container img {
   
    height: 27vh;
    border-radius: 4px;
}

.product-each-container p{
    font-weight: bold;
   
    text-align: center;
    font-size: 2.4vh;
    color: black;
    margin-bottom: 0;
    padding: 0 5px;

}

.product-each-container #Favorite-Border-Icon{
    position: absolute;
    top: 0.9vh;
    right: 0.9vh;
    

}

.product-each-container h5{
    text-align: center;
    font-size: 1.7vh;
    color: rgb(105, 105, 105);
}

.product-each-container .variant{
    color: rgb(59, 59, 59);
    font-weight: normal;
    margin-bottom: 1vh;

}

.product-each-container .all-the-info{
    width: 100%;

}


a{color: black;}
a:hover{
    color: rgb(255, 0, 0);
    fill: red;
}