

.best-seller-head-container p {
    font-family: ProximaNova,sans-serif;
    color: black;
    font-size: 4vh;
    letter-spacing: 0;
    padding: 1vh;
    padding-bottom: 0;
    margin-top: 2vh;
    padding-left: 3vw;
    background-color: white;
    line-height: 1.35;
    font-weight: 500;
    margin-bottom: 0;
    display: flex;
    align-items: center;
   
}

.best-seller-head-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
}


.best-seller-head-container h6{
    padding-right: 3vw;
    font-size: 2vh;
    color: rgb(109, 109, 109);
    background-color: white;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}
.best-seller-container{
    
    padding: 1vw;
    padding-top: 0vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
}


@media only screen and (max-width: 549px){
    .best-seller-head-container p{
        display: flex;
        font-size: 25px;
        align-items: center;
        margin-top: 0;
        padding: 20px;
    }
    .best-seller-head-container h6{
        font-size: 10px;
        margin-top: 0;
    }
    .best-seller-head-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}



.loading-best-sellers {
    display: flex;
    border: 8px solid #adadad;
    border-top: 8px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.8s linear infinite;
  }
  
  @keyframes spin {
    0%  { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
  }

  .loading-container-best-sellers{
  
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4.5vh;

    background-color: #fff;
  }