.announcement{
    display: block;
    height: 6vh;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 1.4vh;
    font-size: 2vh;
    font-weight: bold;
}

@media only screen and (max-width: 1000px) {
    .announcement{
        font-size: 10px;
        height: 4vh;
    }
}