

*{
    font-family: Roboto;
}

.card-travis #slider{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 1;
   
}

.front-view{
    height: 78vh;
    background-color: black;
    
    
    
}

.card-travis{
    display: flex;
    background-color: #e2e1e6;
    height: 83vh;
    position: relative;
    background-color: #030303;
}

.frontview-text{
    border-radius: 3px;
    padding: 2.2vw;
    background-color: rgba(0,0,0,0.70);
    /* background-color: rgb(255, 255, 255,0.83); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    color: #c7c7c7;
    /* color: black; */
    margin: 0vw;
    font-size: 2.22vh;
    position: absolute;
    bottom: 18vh;
    right: 52vw;
    left: 9vw;
    top:auto;
}

h3{
    color: #045daf;
    margin-bottom: 2vh;
    font-size: 2.2vh;
    font-weight: 600;
    margin-top: 2vh;
}
h2{
    font-weight: bold;
    color: white;
    /* color: black; */
    font-size: 3.2vh;
}

.steal-shop-now{
    margin-top: 2vh;
    padding: 7px;
    border-radius: 1.5px;
    background-color: whitesmoke;
    color: black;
    /* background-color: black;
    color: azure; */
    font-weight: bold ;
    /* padding-bottom: 3px; */
    text-align: center;
    border: none;
    font-size: 2.4vh;
    margin-top: 3vh;
}

.blank-space{
    flex: 1;
    background-color: #030303;
}


@media only screen and (max-width: 800px){
    .frontview-text p {
        display: block;
        font-size: 10px;
        margin-bottom: 8px;
    }
    .frontview-text h2{
        font-size: 16px;
        margin-bottom: 3px;

    }
    .frontview-text h3{
        font-size: 11px;
        margin-top: 0;
        margin-bottom: 4px;
    }
    .steal-shop-now{
        font-size: 10px;
        padding: 7px;
        margin-top: 0;
    }
    .front-view{
        height: 75vh;
    }
    .frontview-text {
        bottom: 7vh;
        left: 3vw;
        width: 75vw;
    }
    .blank-space{
        display: none;
        
    }
    .card-travis #slider{
        object-fit: cover;
        height: 66vh;
        
    }
}