* {
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
        "Arial", sans-serif;
    font-size: 2.22vh;
}
.navbar-custom {
    background-color: #1a1a1b;
    height: 11vh;
    font-size: 2vh;
}
.navbar-expand .navbar-nav {
    flex: 1 1;
}

.left {
    display: flex;
    flex: 1 1;

    align-items: center;
}
#login-mobile-account {
    display: none;
    padding: 0.5rem;
}
.center {
    flex: 2;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 7.3vh;
    font-family: "Zeyada";
    margin-top: 2.08vh;
    font-weight: 600;
}
.right-contents,
.right-contents:hover,
.right-contents:active,
.right-contents:focus {
    color: #d2d2d2;
    font-size: 2vh;
}

.navbar-custom .right {
    flex: 1;
    justify-content: end;
}

.searchBar {
    border-radius: 14px;
    height: 4.3vh;
    border: none;
    margin-left: 1vw;
    width: 7vw;
}

.searchButton {
    background-color: white;
    border-radius: 14px;
    height: 4.3vh;
    border: none;
    margin-left: -25px;
}

img {
    display: flex;
    align-items: center;
    height: 2.7vh;
}

#language {
    color: #d2d2d2;
    cursor: pointer;
    font-size: 2vh;
}

.navbar-custom .right p {
    color: white;
    font-size: 2.22vh;
    margin-bottom: 0px;
    padding: 0 1vw;
    /* margin-top: 6px; */
}

#shopping-bag,
#login-account {
    padding: 0.5rem;
}
.MuiSvgIcon-root {
    color: #d2d2d2;
    display: block;
}
.navbar-custom .right {
    position: relative;
}
.navbar-custom .right #logout-account {
    padding: 0.3rem 0.8rem;
    display: none;
    position: absolute;
    right: 3.8rem;
    /* bottom: 0; */
    top: 2.2rem;
    font-size: 14px;
    background-color: black;
    border: none;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}
#logout-mobile-account {
    display: none;
}

#title{
    flex: 2 1;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 7.3vh;
    font-family: "Zeyada";
    font-weight: 600;
}


@media only screen and (max-width: 821px) {
    .navbar-custom .right .right-contents {
        font-size: 7px;
    }
    #language,
    .searchButton,
    .searchBar {
        display: none;
    }
    .navbar-custom .center #title{
        font-size: 37px;
        margin-bottom: 2px;
    }
    .navbar-custom {
        height: 8vh;
    }
    .right-contents {
        display: none;
    }
    .right .right-contents #shopping-bag {
        display: block;
    }
    .MuiSvgIcon-root {
        color: #d2d2d2;
        display: block;
    }
    #login-mobile-account {
        display: block;
    }
    .navbar-custom .left {
        position: relative;
    }
    #logout-mobile-account {
        padding: 0.3rem 0.8rem;
        display: none;
        position: absolute;
        left: 1vw;

        top: 6.5vh;
        font-size: 12px;
        background-color: black;
        border: none;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
    }
}


@media only screen and (max-width: 1440px) {

    .right-contents:nth-child(1),.right-contents:nth-child(2),.right-contents:nth-child(3){
        display: none;
    }
}
