.container-featured-products {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 20px 0px;
}

.container-featured-products .featured-poster {
    height: 60vh;
    width: 36vw;
    object-fit: cover;
    border-radius: 3px;
    border: none;
}

.container-featured-products .featured-text {
    font-size: 2.22vh;

    width: 34vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: black;
    background-color: white;
    margin-top: -7vh;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.container-featured-products #first,
.container-featured-products #second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container-featured-products .featured-text h2 {
    color: black;
    font-size: 3.2vh;
    font-weight: bold;
}
.container-featured-products .featured-text button {
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #282829;
    display: block;
    margin: 1vh;
    padding: 1vh;
}

@media only screen and (max-width: 710px) {
    .container-featured-products {
        display: flex;
        flex-direction: column;
    }
    .container-featured-products .featured-poster {
        height: 60vh;
        width: 95%;
        object-fit: cover;
    }
    .container-featured-products .featured-text {
        width: 85%;
    }
    .container-featured-products {
        margin: 20px 0px;
    }
}

@media only screen and (max-width: 400px) {
    .container-featured-products .featured-poster {
        height: 41vh;
    }
    .container-featured-products .featured-text {
        font-size: 12px;
    }
    .container-featured-products .featured-text h2 {
        font-size: 16px;
    }
    .container-featured-products .featured-text a {
        font-size: 14px;
    }
    .container-featured-products .featured-text button {
        margin-left: 0;
    }
}
