

.container-featured-products{
    padding: 10vh;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    position:relative;
    height: 100vh;
    
}


.featured-poster{
    height: 27vw;
    object-fit: cover;
}

.featured-text{
    background-color: rgb(255, 255, 255);
    width: 30vw;
    top:28vw;
    padding: 2vh;
    padding-left: 3vh;
    padding-top: 3vh;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    
}

.featured-text h2{
    color: black;
    
}

#first-product{
    position: absolute;
    left: 13.6vw;
    

}
#second-product{
    position: absolute;
    left: 55.8vw;
    
}

.featured-text button{
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #282829;
    display: block;
    margin: 1vh;
    padding: 1vh;
}



@media only screen and (max-width: 1000px){
    .featured-text h2{
        font-size: 16px;
        margin-top: 8px;
    }
    .featured-text p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .container-featured-products{
        display: flex;
        flex-direction: column;
        padding: 40px;
        padding-top: 0px;
        justify-content: space-around;
        height:106vh;
        
    }
    #first-product, #second-product{
        left: 12.5vw;
      
    }
    .featured-poster{
        height: 25vh; 
    }
    #first-product{
        top: 30vh;
       
        width: 75vw;
        

    }
    #second-product{
        top: 80vh;
        width: 75vw;
    }
    .featured-text button{
        margin-bottom: 0;
    }

    .featured-text{
        padding-top: 10px;
        padding-bottom: 10px;
    }

   #banner-2{
    margin-bottom: 7vh;
   }
   #banner-1{
    margin-top: -5vh;
   }
 
}